.git
.env
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/node_modules
Tomoor-CafeUI/dist
Tomoor-CafeUI/src/assets/*
!Tomoor-CafeUI/src/assets/seed_images
!Tomoor-CafeUI/src/assets/seed_images/**
