APP_NAME=ETA Company API

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=TomoorCafe
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

SECRET_KEY=your_secret_key_here

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1

ALGORITHM=HS256

UPLOAD_DIR=/app/uploads
MAX_IMAGE_SIZE_MB=5
CORS_ORIGINS=http://localhost:5173
COOKIE_SECURE=false
COOKIE_SAMESITE=lax

VITE_API_URL=http://localhost:8000
